<div class="container-fluid bg-dark mt-5">
    <footer class="row border-top">
        <div class="m-3">
            <image src="/images/logo.jpg" style="width: 500px" class="rounded">
                <p class="text-body-secondary text-info mt-2 mb-0">© 2024</p>
                <p class="text-info">Blog.com project for MPL by Nassar Nassar</p>
        </div>
    </footer>
</div>
</body>

</html>